---
layout: landing-layout
title: "Creator"
description: "Creator Page"
---

    
    <section class="bg-white dark:bg-gray-900">
        <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-24 lg:px-6">
            <div class="max-w-screen-md mx-auto mb-8 grid gap-5 text-gray-500 sm:gap-12 sm:grid-cols-3 lg:grid-cols-8 dark:text-gray-400">
                <a href="#" class="flex items-center lg:justify-center">
                    Food                     
                </a>
                <a href="#" class="flex items-center lg:justify-center">
                    Health                                          
                </a>
                <a href="#" class="flex items-center lg:justify-center">
                    Consumer Goods                                                             
                </a>
    
                <a href="#" class="flex items-center lg:justify-center">
                    Cosmetics                                                                                 
                </a>
               
                <a href="#" class="flex items-center lg:justify-center">
                    Home                                                                        
                </a>
                <a href="#" class="flex items-center lg:justify-center">
                    Kids                                                                        
                </a>
                <a href="#" class="flex items-center lg:justify-center">
                    Pets                                                                        
                </a>
            </div>
        </div>
    </section>

        <section class="bg-gray-50 dark:bg-gray-800">
        <div class="max-w-screen-xl px-2 py-2 mx-auto space-y-7 lg:space-y-20 lg:py-24 lg:px-6">
            <!-- Row -->
            <div class="items-center gap-6 ">
                <div class="text-gray-500 sm:text-lg dark:text-gray-400">
                    <h2 class=" text-6xl font-extrabold tracking-tight text-blue-900 dark:text-white">Top-rated UGC creators</h2>
                    
                   
                    
                   
                </div>
                
            </div>
            <!-- Row -->
            
        </div>
      </section>

      <section class="bg-white dark:bg-gray-900">
        <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-24 lg:px-6">
            
            <div class="space-y-8 lg:grid lg:grid-cols-4 sm:gap-6 xl:gap-10 lg:space-y-0">
                <!-- Pricing Card -->
                <div class="flex flex-col max-w-lg p-6 mx-auto text-center text-gray-900 bg-white border border-gray-100 rounded-lg shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                     
                <div class="flex items-center gap-4 px-4 py-2">
        <img class="w-10 h-10 rounded-full" src="https://randomuser.me/api/portraits/men/76.jpg" alt="">
        <div class="font-medium dark:text-white">
          <p>Jese Leos</p>
          <span class="text-xs text-gray-500 dark:text-gray-400"><i class="mr-1 fa-solid fa-star"></i>3.5</span>
        </div>
      </div>
                <div class="px-4 py-2">
        <video src="https://static.billo.app/user-content/1674442199013-45e338d79086e4d7dc8f-video_output_542A17AF_0C8A_43C2_80C6_B3779041FDD7.mov"
        poster="https://static.billo.app/user-content-thumbs/1674442199013-45e338d79086e4d7dc8f-video_output_542A17AF_0C8A_43C2_80C6_B3779041FDD7.jpeg"
        class="w-full aspect-[3/4] rounded-lg object-cover" controls>
        </video>

      </div>

                </div>


                <!-- Pricing Card -->
              <div class="flex flex-col max-w-lg p-6 mx-auto text-center text-gray-900 bg-white border border-gray-100 rounded-lg shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                     
                <div class="flex items-center gap-4 px-4 py-2">
        <img class="w-10 h-10 rounded-full" src="https://randomuser.me/api/portraits/men/76.jpg" alt="">
        <div class="font-medium dark:text-white">
          <p>Jese Leos</p>
          <span class="text-xs text-gray-500 dark:text-gray-400"><i class="mr-1 fa-solid fa-star"></i>3.5</span>
        </div>
      </div>
                <div class="px-4 py-2">
        <video src="https://static.billo.app/user-content/1674442199013-45e338d79086e4d7dc8f-video_output_542A17AF_0C8A_43C2_80C6_B3779041FDD7.mov"
        poster="https://static.billo.app/user-content-thumbs/1674442199013-45e338d79086e4d7dc8f-video_output_542A17AF_0C8A_43C2_80C6_B3779041FDD7.jpeg"
        class="w-full aspect-[3/4] rounded-lg object-cover" controls>
        </video>

      </div>

                </div>
                <!-- Pricing Card -->
                 <div class="flex flex-col max-w-lg p-6 mx-auto text-center text-gray-900 bg-white border border-gray-100 rounded-lg shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                     
                <div class="flex items-center gap-4 px-4 py-2">
        <img class="w-10 h-10 rounded-full" src="https://randomuser.me/api/portraits/men/76.jpg" alt="">
        <div class="font-medium dark:text-white">
          <p>Jese Leos</p>
          <span class="text-xs text-gray-500 dark:text-gray-400"><i class="mr-1 fa-solid fa-star"></i>3.5</span>
        </div>
      </div>
                <div class="px-4 py-2">
        <video src="https://static.billo.app/user-content/1674442199013-45e338d79086e4d7dc8f-video_output_542A17AF_0C8A_43C2_80C6_B3779041FDD7.mov"
        poster="https://static.billo.app/user-content-thumbs/1674442199013-45e338d79086e4d7dc8f-video_output_542A17AF_0C8A_43C2_80C6_B3779041FDD7.jpeg"
        class="w-full aspect-[3/4] rounded-lg object-cover" controls>
        </video>

      </div>

                </div>
                  <div class="flex flex-col max-w-lg p-6 mx-auto text-center text-gray-900 bg-white border border-gray-100 rounded-lg shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                     
                <div class="flex items-center gap-4 px-4 py-2">
        <img class="w-10 h-10 rounded-full" src="https://randomuser.me/api/portraits/men/76.jpg" alt="">
        <div class="font-medium dark:text-white">
          <p>Jese Leos</p>
          <span class="text-xs text-gray-500 dark:text-gray-400"><i class="mr-1 fa-solid fa-star"></i>3.5</span>
        </div>
      </div>
                <div class="px-4 py-2">
        <video src="https://static.billo.app/user-content/1674442199013-45e338d79086e4d7dc8f-video_output_542A17AF_0C8A_43C2_80C6_B3779041FDD7.mov"
        poster="https://static.billo.app/user-content-thumbs/1674442199013-45e338d79086e4d7dc8f-video_output_542A17AF_0C8A_43C2_80C6_B3779041FDD7.jpeg"
        class="w-full aspect-[3/4] rounded-lg object-cover" controls>
        </video>

      </div>

                </div>
            </div>
        </div>

        <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-24 lg:px-6">
            
            <div class="space-y-8 lg:grid lg:grid-cols-4 sm:gap-6 xl:gap-10 lg:space-y-0">
                <!-- Pricing Card -->
                <div class="flex flex-col max-w-lg p-6 mx-auto text-center text-gray-900 bg-white border border-gray-100 rounded-lg shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                     
                <div class="flex items-center gap-4 px-4 py-2">
        <img class="w-10 h-10 rounded-full" src="https://randomuser.me/api/portraits/men/76.jpg" alt="">
        <div class="font-medium dark:text-white">
          <p>Jese Leos</p>
          <span class="text-xs text-gray-500 dark:text-gray-400"><i class="mr-1 fa-solid fa-star"></i>3.5</span>
        </div>
      </div>
                <div class="px-4 py-2">
        <video src="https://static.billo.app/user-content/1674442199013-45e338d79086e4d7dc8f-video_output_542A17AF_0C8A_43C2_80C6_B3779041FDD7.mov"
        poster="https://static.billo.app/user-content-thumbs/1674442199013-45e338d79086e4d7dc8f-video_output_542A17AF_0C8A_43C2_80C6_B3779041FDD7.jpeg"
        class="w-full aspect-[3/4] rounded-lg object-cover" controls>
        </video>

      </div>

                </div>


                <!-- Pricing Card -->
              <div class="flex flex-col max-w-lg p-6 mx-auto text-center text-gray-900 bg-white border border-gray-100 rounded-lg shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                     
                <div class="flex items-center gap-4 px-4 py-2">
        <img class="w-10 h-10 rounded-full" src="https://randomuser.me/api/portraits/men/76.jpg" alt="">
        <div class="font-medium dark:text-white">
          <p>Jese Leos</p>
          <span class="text-xs text-gray-500 dark:text-gray-400"><i class="mr-1 fa-solid fa-star"></i>3.5</span>
        </div>
      </div>
                <div class="px-4 py-2">
        <video src="https://static.billo.app/user-content/1674442199013-45e338d79086e4d7dc8f-video_output_542A17AF_0C8A_43C2_80C6_B3779041FDD7.mov"
        poster="https://static.billo.app/user-content-thumbs/1674442199013-45e338d79086e4d7dc8f-video_output_542A17AF_0C8A_43C2_80C6_B3779041FDD7.jpeg"
        class="w-full aspect-[3/4] rounded-lg object-cover" controls>
        </video>

      </div>

                </div>
                <!-- Pricing Card -->
                 <div class="flex flex-col max-w-lg p-6 mx-auto text-center text-gray-900 bg-white border border-gray-100 rounded-lg shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                     
                <div class="flex items-center gap-4 px-4 py-2">
        <img class="w-10 h-10 rounded-full" src="https://randomuser.me/api/portraits/men/76.jpg" alt="">
        <div class="font-medium dark:text-white">
          <p>Jese Leos</p>
          <span class="text-xs text-gray-500 dark:text-gray-400"><i class="mr-1 fa-solid fa-star"></i>3.5</span>
        </div>
      </div>
                <div class="px-4 py-2">
        <video src="https://static.billo.app/user-content/1674442199013-45e338d79086e4d7dc8f-video_output_542A17AF_0C8A_43C2_80C6_B3779041FDD7.mov"
        poster="https://static.billo.app/user-content-thumbs/1674442199013-45e338d79086e4d7dc8f-video_output_542A17AF_0C8A_43C2_80C6_B3779041FDD7.jpeg"
        class="w-full aspect-[3/4] rounded-lg object-cover" controls>
        </video>

      </div>

                </div>
                  <div class="flex flex-col max-w-lg p-6 mx-auto text-center text-gray-900 bg-white border border-gray-100 rounded-lg shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                     
                <div class="flex items-center gap-4 px-4 py-2">
        <img class="w-10 h-10 rounded-full" src="https://randomuser.me/api/portraits/men/76.jpg" alt="">
        <div class="font-medium dark:text-white">
          <p>Jese Leos</p>
          <span class="text-xs text-gray-500 dark:text-gray-400"><i class="mr-1 fa-solid fa-star"></i>3.5</span>
        </div>
      </div>
                <div class="px-4 py-2">
        <video src="https://static.billo.app/user-content/1674442199013-45e338d79086e4d7dc8f-video_output_542A17AF_0C8A_43C2_80C6_B3779041FDD7.mov"
        poster="https://static.billo.app/user-content-thumbs/1674442199013-45e338d79086e4d7dc8f-video_output_542A17AF_0C8A_43C2_80C6_B3779041FDD7.jpeg"
        class="w-full aspect-[3/4] rounded-lg object-cover" controls>
        </video>

      </div>

                </div>
            </div>
        </div>
      </section>

    <section >
        <div >
            <div class="max-w-screen-md mx-auto mb-8 sm:gap-12 ">
                <button class="items-center bg-blue-800 rounded-lg text-white text-xl p-3">
                    Hire your UGC Creator Now
                </button>
            </div>
        </div>
    </section>
         <section class="bg-gray-50 dark:bg-gray-800">
        <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-24 lg:px-6">
            <!-- Row -->
            <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
                <div class="text-gray-500 sm:text-lg dark:text-gray-400">
                    <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">Start Now & Hire Your First UGC Creator for $20 OFF!</h2>
                  
                    <ul role="list" class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700">
                        
                        <p class="">We'll send a $20 discount code to your inbox right away! Plus, we offer a 30-day money-back guarantee, so you actually have nothing to lose!</p>
                        
                         
                    <div class="items-center">
                             <button class="bg-blue-600 p-4 text-2xl font-semibold rounded-lg text-white">
                       Get $20 OFF discount code!
                    </button>
                    </div>
                   
                </div>
                <img class="hidden w-full mb-4 rounded-lg lg:mb-0 lg:flex" src="/assets/img/creator.jpg" alt="dashboard feature image">
            </div>
            
            
        </div>
      </section>