---
layout: landing-layout
title: "Partner"
description: "Partner Page"
---

    <section class="bg-white dark:bg-gray-900">
        <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-24 lg:px-6">
            <div class="max-w-screen-md mx-auto mb-8 text-center lg:mb-12">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white"> Billo Partners list. </h2>
                <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">Browse Billo partners list to claim exclusive offers from trusted companies!</p>
            </div>
            
            <div class="max-w-screen-md mx-auto mb-8 text-center lg:mb-12">
                                                <button type="button" class="text-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300  rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Apply To Become a partner</button>

            </div>
        </div>
    </section>
        
     
 <div class="grid grid-cols-3 justify-items-center gap-4 max-w-4xl m-auto mt-16 mb-10">
<a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <img src="https://billo.app/wp-content/uploads/2023/04/DB-Logo-main-transparent.png" class ="p-3" alt="">

    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Debutify</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">Get 20% discounts for theme and reviews!</p>
    <br>
     <div class="text-2xl items-center">
                <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300  rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Learn More</button>

            </div>
</a>
<a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
<img src="https://billo.app/wp-content/uploads/2023/04/Novel-Logo-1.svg" class ="p-3" alt="">
    
<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Novel</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">Get 2 months free trial on any paid account!</p>
    <br>
    <div class="text-2xl items-center">
                <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300  rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Learn More</button>

            </div>
</a>
<a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
<img src="https://billo.app/wp-content/uploads/2023/03/ShopperApproved-Logo_Color-Stacked.png" class ="p-3" alt="">
    
<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Shopper Approved</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">Get 10% off!.</p>
    <br>
    <div class="text-2xl items-center">
                <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300  rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Learn More</button>

            </div>
</a>
 
<a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <img src="https://billo.app/wp-content/uploads/2023/03/StoreHero-Logo.png" class ="p-3" alt="">

    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Debutify</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">Get 20% discounts for theme and reviews!</p>
    <br>
     <div class="text-2xl items-center">
                <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300  rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Learn More</button>

            </div>
</a>
<a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
<img src="https://billo.app/wp-content/uploads/2023/03/postpilot.png" class ="p-3" alt="">
    
<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Novel</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">Get 2 months free trial on any paid account!</p>
    <br>
    <div class="text-2xl items-center">
                <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300  rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Learn More</button>

            </div>
</a>
<a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
<img src="https://billo.app/wp-content/uploads/2023/03/pendulum.png" class ="p-3" alt="">
    
<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Shopper Approved</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">Get 10% off!.</p>
    <br>
    <div class="text-2xl items-center">
                <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300  rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Learn More</button>

            </div>
</a>
 </div>

 
<div>
    <div class="max-w-screen-md mx-auto mb-8 text-center lg:mb-12">
                                <button type="button" class="text-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300  rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Load More</button>

            

            
</div>


  <section class="bg-white dark:bg-gray-900">
        <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-24 lg:px-6">
            <div class="max-w-screen-md mx-auto mb-8 text-center lg:mb-12">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white"> Want To Become a partner? </h2>
                <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">Got questions? <span>
                        Call +16505853021 or contact us at tom@billo.app
                </span>
</p>
            </div>
            
            <div class="max-w-screen-md mx-auto mb-8 text-center lg:mb-32">
            <button type="button" class="text-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300  rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Apply Here</button>

            </div>
        </div>
    </section>