---
layout: landing-layout
title: "Partner"
description: "Partner Page"
---

    <section class="bg-white dark:bg-gray-900">
        <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-24 lg:px-6">
            <div class="max-w-screen-md mx-auto mb-8 text-center lg:mb-12">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white"> Billo Partners list. </h2>
                <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">Browse Billo partners list to claim exclusive offers from trusted companies!</p>
            </div>
            
            <div class="text-2xl items-center">
                <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300  rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Apply to become a Partner</button>

            </div>
        </div>
    </section>

<div class="grid grid-cols-3 gap-4 p-10">
        <div class="max-w-sm  bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="rounded-sm" src="https://billo.app/wp-content/uploads/2023/04/DB-Logo-main-transparent.png" alt="" />
    </a>
    <div class="p-5 ">
       
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
       
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Get 20% discounts for theme and reviews!.</p>
        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
            
        </a>
    </div>
</div>

</div>
