---
layout: admin-dashboard-layout
title: "Task Review"
description: "Task Review Page"
---
<div class="px-3 py-6 mt-14" x-data="head">
  <div>
    <div class="grid grid-cols-4 mb-4">
      <h3 class="mb-5 text-2xl font-bold leading-6 text-gray-900 dark:text-gray-50" x-text="pageTitle"></h3>
      <div class="flex justify-end col-span-3 gap-4">
        <div class="flex gap-1">
          <button type="submit" class="flex justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 disabled:bg-slate-400 dark:disabled:bg-blue-400 disabled:cursor-not-allowed">
            Accept
          </button>
        </div>
      </div>
    </div>
    <div class="w-full m-auto">
      <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <form
                id=""
                action="#"
                method="POST"
                class="space-y-6 rounded-lg"
                x-data="index()">

          <div class="grid grid-cols-6 gap-6 mt-2">
            <div class="col-span-6 sm:col-span-6">
              <!-- Products -->
              <div class="mb-3 relative">
                <div aria-hidden="true" class="absolute inset-0 flex items-center">
                  <div class="w-full border-t border-gray-200 dark:border-gray-600"></div>
                </div>
                <!-- Products Title -->
                <div class="relative flex justify-start">
                  <span class="text-lg font-bold pr-3 bg-white dark:bg-gray-800 text-gray-800 dark:text-white">General Information</span>
                </div>
              </div>
              <table class="table-auto border-none w-[60%]">
                <tbody>
                <tr class="">
                  <td class="border-none font-bold py-3 whitespace-nowrap text-sm w-[25%] dark:text-gray-50">Name</td>
                  <td class="border-none dark:text-gray-50">
                    TikTok video for Getfittec , Female</td>
                </tr>
                <tr>
                  <td class="border-none font-bold py-3 whitespace-nowrap text-sm w-[25%] dark:text-gray-50">Campaign Goals</td>
                  <td class="border-none dark:text-gray-50">Consideration (engagements / conversation / video views)</td>
                </tr>
                <tr>
                  <td class="border-none font-bold py-3 whitespace-nowrap text-sm w-[25%] dark:text-gray-50">Status</td>
                  <td class="border-none">
                    <span class="bg-green-100 text-green-600 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">
                        Active
                      </span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-span-6 sm:col-span-6">
              <!-- Products -->
              <div class="mb-3 relative">
                <div aria-hidden="true" class="absolute inset-0 flex items-center">
                  <div class="w-full border-t border-gray-200 dark:border-gray-600"></div>
                </div>
                <!-- Products Title -->
                <div class="relative flex justify-start">
                  <span class="text-lg font-bold pr-3 bg-white dark:bg-gray-800 text-gray-800 dark:text-white"> Your Product(s)</span>
                </div>
              </div>
              <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
                <div class="h-full block p-4 text-sm font-medium bg-white border border-gray-100 rounded-lg shadow-sm cursor-pointer hover:border-gray-200 peer-checked:border-blue-500 peer-checked:ring-1 peer-checked:ring-blue-500 hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:border-gray-700 dark:text-gray-50">
                  <div class="rounded-lg h-44 w-full bg-[url('https://static.billo.app/product-images/1683823188429-6960064e12761d766dc2-0L1A8439_4_grande.jpg')] bg-contain">
                  </div>
                  <h3 class="font-bold text-xl my-3 dark:text-gray-50">3 STRAPS DETACHABLE RUBY® WAIST TRAINER By GETFIT</h3>
                  <p class="font-normal dark:text-gray-50 line-clamp-4">
                    THE MOST COMFORTABLE WAIST TRAINER & SHAPEWEAR, FINE-TUNED FOR EXCELLENCE! ✅ Triple belt design for firm compression, effectively reducing waistline and targeting lower belly fat. ✅ Fully detachable and can be worn comfortably under fitted dresses. ✅ Increased sauna effect during physical activities for enhanced calorie burning. ✅ Belly vacuum effect for improved belly and back support. ✅ Three strategically placed straps to attack the lowest belly above the pubic bone region. ✅ Ideal for falling/dropping belly fat. ✅ Improved thermogenic material aids in burning belly fat.
                  </p>
                  <a href="/customer/view-product-details" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline my-3">
                    View Product
                  </a>
                </div>
                <div class="h-full block p-4 text-sm font-medium bg-white border border-gray-100 rounded-lg shadow-sm cursor-pointer hover:border-gray-200 peer-checked:border-blue-500 peer-checked:ring-1 peer-checked:ring-blue-500 hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:border-gray-700 dark:text-gray-50">
                  <div class="rounded-lg h-44 w-full bg-[url('https://static.billo.app/product-images/1683823188429-6960064e12761d766dc2-0L1A8439_4_grande.jpg')] bg-contain">
                  </div>
                  <h3 class="font-bold text-xl my-3 dark:text-gray-50">3 STRAPS DETACHABLE RUBY® WAIST TRAINER By GETFIT</h3>
                  <p class="font-normal dark:text-gray-50 line-clamp-4">
                    THE MOST COMFORTABLE WAIST TRAINER & SHAPEWEAR, FINE-TUNED FOR EXCELLENCE! ✅ Triple belt design for firm compression, effectively reducing waistline and targeting lower belly fat. ✅ Fully detachable and can be worn comfortably under fitted dresses. ✅ Increased sauna effect during physical activities for enhanced calorie burning. ✅ Belly vacuum effect for improved belly and back support. ✅ Three strategically placed straps to attack the lowest belly above the pubic bone region. ✅ Ideal for falling/dropping belly fat. ✅ Improved thermogenic material aids in burning belly fat.
                  </p>
                  <a href="/customer/view-product-details" class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline my-3">
                    View Product
                  </a>
                </div>
              </div>

            </div>
            <!-- Video Type -->
            <div class="col-span-6 sm:col-span-6">
              <div class="mb-3 relative">
                <div aria-hidden="true" class="absolute inset-0 flex items-center">
                  <div class="w-full border-t border-gray-200 dark:border-gray-600"></div>
                </div>
                <!-- Video Title -->
                <div class="relative flex justify-start">
                  <span class="text-lg font-bold pr-3 bg-white dark:bg-gray-800 text-gray-800 dark:text-white">Video Specification</span>
                </div>
              </div>
              <table class="table-auto border-none w-[60%]">
                <tbody>
                <tr class="">
                  <td class="border-none font-bold py-3 whitespace-nowrap text-sm w-[25%] dark:text-gray-50">Order</td>
                  <td class="border-none px-4 dark:text-gray-50">
                    2 videos
                  </td>
                </tr>
                <tr>
                  <td class="border-none font-bold py-3 whitespace-nowrap text-sm w-[25%] dark:text-gray-50">Video type</td>
                  <td class="border-none px-4 dark:text-gray-50">TikTok - Premium</td>
                </tr>
                <tr>
                  <td class="border-none font-bold py-3 whitespace-nowrap text-sm w-[25%] dark:text-gray-50">Duration</td>
                  <td class="border-none px-4 dark:text-gray-50">60 seconds</td>
                </tr>
                <tr>
                  <td class="border-none font-bold py-3 whitespace-nowrap text-sm w-[25%] dark:text-gray-50">Aspect Ratio</td>
                  <td class="border-none px-4 dark:text-gray-50">9:16</td>
                </tr>
                <tr>
                  <td class="border-none font-bold py-3 whitespace-nowrap text-sm w-[25%] dark:text-gray-50">Additional Details</td>
                  <td class="border-none px-4 dark:text-gray-50">We would like you to create informative content about GetFit waist trainers and shapewear, showcasing how they can be used to achieve a specific look or body shape. Lastly, direct your followers tactfully to purchase our product on our website GetFitTec.com</td>
                </tr>
                <tr>
                  <td class="border-none font-bold py-3 whitespace-nowrap text-sm w-[25%] dark:text-gray-50">Add-Ons</td>
                  <td class="border-none px-4 dark:text-gray-50">
                    <ul class="flex justify-between max-w-sm space-y-1 text-gray-500 list-inside dark:text-gray-100 text-sm">
                      <li class="flex items-center">
                        <i class="fa-solid fa-check mr-1.5 text-blue-600 dark:text-blue-400 flex-shrink-0"></i>
                        Animated Subtitles
                      </li>
                      <li class="flex items-center">
                        <i class="fa-solid fa-check mr-1.5 text-blue-600 dark:text-blue-400 flex-shrink-0"></i>
                        Logo
                      </li>
                      <li class="flex items-center">
                        <i class="fa-solid fa-check mr-1.5 text-blue-600 dark:text-blue-400 flex-shrink-0"></i>
                        Motion Graphics
                      </li>
                    </ul>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- Number of Videos -->
            <div class="col-span-6 sm:col-span-6">
              <div class="mb-3 relative">
                <div aria-hidden="true" class="absolute inset-0 flex items-center">
                  <div class="w-full border-t border-gray-200 dark:border-gray-600"></div>
                </div>
                <div class="relative flex justify-start">
                  <span class="text-lg font-bold pr-3 bg-white dark:bg-gray-800 text-gray-800 dark:text-white">Photos</span>
                </div>
              </div>
              <table class="table-auto border-none w-[60%]">
                <tbody>
                <tr class="">
                  <td class="border-none font-bold py-3 whitespace-nowrap text-sm w-[25%] dark:text-gray-50">4 Photos per Creator</td>
                  <td class="border-none px-4 dark:text-gray-50">
                    Yes
                  </td>
                </tr>
                <tr>
                  <td class="border-none font-bold py-3 whitespace-nowrap text-sm w-[25%] dark:text-gray-50">Description</td>
                  <td class="border-none px-4 dark:text-gray-50">
                    For example: 1. Instagram-style product shot in the natural environment 2. Video thumbnail - high-quality image from the video shoot 3. Selfie with a product 4. Product highlight shot - product in use under a dress and product in use without a dress on.
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- Video Duration -->
            <div class="col-span-6 sm:col-span-6">
              <div class="mb-3 relative">
                <div aria-hidden="true" class="absolute inset-0 flex items-center">
                  <div class="w-full border-t border-gray-200 dark:border-gray-600"></div>
                </div>
                <!-- Video Duration Title -->
                <div class="relative flex justify-start">
                  <span class="text-lg font-bold pr-3 bg-white dark:bg-gray-800 text-gray-800 dark:text-white">Creator Criteria</span>
                </div>
              </div>
              <table class="table-auto border-none w-[60%]">
                <tbody>
                <tr class="">
                  <td class="border-none font-bold py-3 whitespace-nowrap text-sm w-[25%] dark:text-gray-50">Gender</td>
                  <td class="border-none px-4 dark:text-gray-50">Female</td>
                </tr>
                <tr>
                  <td class="border-none font-bold py-3 whitespace-nowrap text-sm w-[25%] dark:text-gray-50">Age</td>
                  <td class="border-none px-4 dark:text-gray-50">
                    18-24
                  </td>
                </tr>
                <tr>
                  <td class="border-none font-bold py-3 whitespace-nowrap text-sm w-[25%] dark:text-gray-50">Country</td>
                  <td class="border-none px-4 dark:text-gray-50">Nigeria</td>
                </tr>
                <tr>
                  <td class="border-none font-bold py-3 whitespace-nowrap text-sm w-[25%] dark:text-gray-50">Creator Preference</td>
                  <td class="border-none px-4 dark:text-gray-50">curvy or appealing body size/figure that shows the effectiveness of a waist trainer.</td>
                </tr>
                <tr>
                  <td class="border-none font-bold py-3 whitespace-nowrap text-sm w-[25%] dark:text-gray-50">Creator Experience</td>
                  <td class="border-none px-4 dark:text-gray-50">Premium Creator</td>
                </tr>
                </tbody>
              </table>

            </div>
            <!-- Video Aspect Ratio  -->
            <div x-cloak x-show="task.videoType === '1' || task.videoType === '3' || task.videoType === '4'" class="col-span-6 sm:col-span-6">
              <div class="mb-3 relative">
                <div aria-hidden="true" class="absolute inset-0 flex items-center">
                  <div class="w-full border-t border-gray-200 dark:border-gray-600"></div>
                </div>
                <!-- Video Aspect Ratio Title-->
                <div class="relative flex justify-start">
                  <span class="text-lg font-bold pr-3 bg-white dark:bg-gray-800 text-gray-800 dark:text-white">Pricing Summary</span>
                </div>
              </div>
              <table class="table-auto border-none w-[60%]">
                <tbody>
                <tr class="">
                  <td class="border-none font-bold py-3 whitespace-nowrap text-sm w-[25%] dark:text-gray-50">Total Budget</td>
                  <td class="border-none px-4 font-bold text-xl dark:text-gray-50"><span x-text="currency + new Intl.NumberFormat('en-NG').format(amount)"></span></td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="col-span-6 sm:col-span-6">
              <div class="mb-3 relative">
                <div aria-hidden="true" class="absolute inset-0 flex items-center">
                  <div class="w-full border-t border-gray-200 dark:border-gray-600"></div>
                </div>
                <!-- Video Aspect Ratio Title-->
                <div class="relative flex justify-start">
                  <span class="text-lg font-bold pr-3 bg-white dark:bg-gray-800 text-gray-800 dark:text-white">Task Status</span>
                </div>
              </div>
              <table class="table-auto border-none w-[60%]">
                <tbody>
                <tr class="">
                  <td class="border-none font-bold py-3 whitespace-nowrap text-sm w-[25%] dark:text-gray-50"><label for="status">Status</label></td>
                  <td class="border-none px-4 font-bold text-xl dark:text-gray-50">
                    <select id="status" x-model="status" name="state" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[50%] p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      <option selected>Choose a Status</option>
                      <option value="1">Accept</option>
                      <option value="2">Reject</option>
                    </select>
                  </td>
                </tr>
                <tr x-cloak
                    x-show="status === '2'"
                    x-transition:enter="transition ease-out duration-300"
                    x-transition:enter-start="opacity-0 scale-90"
                    x-transition:enter-end="opacity-100 scale-100"
                    x-transition:leave="transition ease-in duration-300"
                    x-transition:leave-start="opacity-100 scale-100"
                    x-transition:leave-end="opacity-0 scale-90"
                    class="pt-5"
                >
                  <td class="border-none font-bold py-3 whitespace-nowrap text-sm w-[25%] dark:text-gray-50"><label for="reason">Reason</label></td>
                  <td class="border-none px-4 font-bold text-xl dark:text-gray-50 pt-5">
                    <textarea id="reason" rows="4" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write something creative that users will see."></textarea>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
              <button type="submit" class="flex justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 disabled:bg-slate-400 dark:disabled:bg-blue-400 disabled:cursor-not-allowed">
                Update Status
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

<script>

  function index() {
    return {
      pageTitle: 'Task Name Goes Here',
      status: null,
      user: {
        id: 1,
        firstname: 'Robert',
        lastname: 'Pinkman',
        email: 'jessepinkman@gmail.com',
        image: 'profile.jpeg',
        kyc: true
      },
      amount: 69000,
    }
  }
</script>