---
layout: admin-dashboard-layout
title: "Profile"
description: "Profile Page"
---
<div class="px-3 py-6 mt-14">
  <div>
    <div class="grid grid-cols-4 mb-4">
      <h3 class="mb-5 text-2xl font-bold leading-6 text-gray-900 dark:text-gray-50" x-text="pageTitle"></h3>
      <div class="flex justify-end col-span-3 gap-4">
        <div class="flex flex-col">

        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 md:!grid-cols-5 md:!gap-4">
      <div class="col-span-3 mb-4 md:mb-0">
        <!-- Card --->
        <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <form
                  action="#"
                  method="POST"
                  class="space-y-6 rounded-lg"
                  x-data="index()">

            <div class="grid grid-cols-6 gap-6 mt-2">
              <div class="col-span-6 sm:col-span-6">
                <div class="mb-3 relative">
                  <div aria-hidden="true" class="absolute inset-0 flex items-center">
                    <div class="w-full border-t border-gray-200 dark:border-gray-600"></div>
                  </div>
                  <div class="relative flex justify-start">
                    <span class="text-xl font-bold pr-3 bg-white dark:bg-gray-800 text-gray-800 dark:text-white"> Basic Information</span>
                  </div>
                </div>
              </div>
              <div class="col-span-6 sm:col-span-3">
                <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  First Name
                </label>
                <input
                        placeholder="Your First Name"
                        x-model="profile.firstName"
                        type="text"
                        id="firstName"
                        name="first_name"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
              </div>
              <div class="col-span-6 sm:col-span-3">
                <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Last Name
                </label>
                <input
                        placeholder="Your Last Name"
                        x-model="profile.lastName"
                        type="text"
                        id="lastName"
                        name="last_name"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
              </div>
              <div class="col-span-6 sm:col-span-3">
                <label for="dob" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Date of Birth
                </label>
                <input
                        placeholder=""
                        type="date"
                        id="dob"
                        name="dob"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
              </div>
              <div class="col-span-6 sm:col-span-3">
                <label for="gender" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Gender
                </label>
                <select id="gender" name="gender" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option selected>Choose a Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>

              <div class="col-span-6 sm:col-span-6">
                <div class="mb-3 relative">
                  <div aria-hidden="true" class="absolute inset-0 flex items-center">
                    <div class="w-full border-t border-gray-200 dark:border-gray-600"></div>
                  </div>
                  <div class="relative flex justify-start">
                    <span class="text-xl font-bold pr-3 bg-white dark:bg-gray-800 text-gray-800 dark:text-white">Contact Information</span>
                  </div>
                </div>
              </div>
              <div class="col-span-6 sm:col-span-3">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Email
                </label>
                <input
                        placeholder="Your Email"
                        x-model="profile.email"
                        type="email"
                        id="email"
                        name="email"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
              </div>
              <div class="col-span-6 sm:col-span-3">
                <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Phone Number
                </label>
                <input
                        placeholder="Your Phone Number"
                        type="tel"
                        id="phone"
                        name="phone"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
              </div>
              <div class="col-span-6 sm:col-span-6">
                <label for="address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Address
                </label>
                <input
                        type="text"
                        id="address"
                        name="address"
                        spellcheck="false"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
              </div>
              <div class="col-span-6 sm:col-span-3">
                <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  City
                </label>
                <input
                        type="text"
                        id="city"
                        name="city"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
              </div>
              <div class="col-span-6 sm:col-span-3">
                <label for="state" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  State
                </label>
                <select id="state" name="state" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option selected>Choose a State</option>
                  <option value="State 1">State 1</option>
                </select>
              </div>
              <div class="col-span-6 sm:col-span-3">
                <label for="country" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Country
                </label>
                <select id="country" name="country" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option selected>Choose a Country</option>
                  <option value="Country 1">Country 1</option>
                </select>
              </div>
              <div class="col-span-6 sm:col-span-3">
                <label for="postalCode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  Postal Code
                </label>
                <input
                        type="text"
                        id="postalCode"
                        name="postal_code"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
              </div>
              <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
                <button :disabled="profile.firstName.length < 2 || profile.lastName.length < 2" class="flex justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 disabled:bg-slate-400 dark:disabled:bg-blue-400 disabled:cursor-not-allowed">
                  Save Profile
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-span-2 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="col-span-6 sm:col-span-6 mb-3 relative">
          <div aria-hidden="true" class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-200 dark:border-gray-600"></div>
          </div>
          <div class="relative flex justify-start">
            <span class="text-xl font-bold pr-3 bg-white dark:bg-gray-800 text-gray-800 dark:text-white">Profile Image</span>
          </div>
        </div>
        <div class="col-span-6 sm:col-span-6">
          <form>
            <div class="flex flex-col">
              <div class="w-full">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="uploadImage">Upload Image</label>
                <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="uploadImageHelp" id="uploadImage" type="file">
                <p class="mt-1 text-xs text-gray-500 dark:text-gray-300" id="uploadImageHelp">PNG or JPG (MAX. 800x400px).</p>
              </div>
              <div class="mt-7">
                <button type="button" class="whitespace-nowrap text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                  Upload Image
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  function index() {
    return {
      pageTitle: 'Profile',
      profile: {
        firstName: '',
        lastName: '',
        email: '',
      },
      user: {
        id: 1,
        firstname: 'Robert',
        lastname: 'Pinkman',
        email: 'jessepinkman@gmail.com',
        image: 'profile.jpeg',
        kyc: true
      }
    }
  }
</script>