---
layout: auth-layout
title: "Sign In"
description: "Sign In Page"
---

        <main aria-label="Main"
                class="flex items-center justify-center h-full px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6">
                <div class="max-w-xl lg:max-w-3xl">
                    <div class="relative block -mt-16 lg:hidden">
                        <a class="inline-flex items-center justify-center w-16 h-16 text-blue-600 bg-white rounded-full sm:h-20 sm:w-20"
                            href="/">
                            <span class="sr-only">Home</span>
                            <svg class="h-8 sm:h-10" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.41 10.3847C1.14777 7.4194 2.85643 4.7861 5.2639 2.90424C7.6714 1.02234 10.6393 0 13.695 0C16.7507 0 19.7186 1.02234 22.1261 2.90424C24.5336 4.7861 26.2422 7.4194 26.98 10.3847H25.78C23.7557 10.3549 21.7729 10.9599 20.11 12.1147C20.014 12.1842 19.9138 12.2477 19.81 12.3047H19.67C19.5662 12.2477 19.466 12.1842 19.37 12.1147C17.6924 10.9866 15.7166 10.3841 13.695 10.3841C11.6734 10.3841 9.6976 10.9866 8.02 12.1147C7.924 12.1842 7.8238 12.2477 7.72 12.3047H7.58C7.4762 12.2477 7.376 12.1842 7.28 12.1147C5.6171 10.9599 3.6343 10.3549 1.61 10.3847H0.41ZM23.62 16.6547C24.236 16.175 24.9995 15.924 25.78 15.9447H27.39V12.7347H25.78C24.4052 12.7181 23.0619 13.146 21.95 13.9547C21.3243 14.416 20.5674 14.6649 19.79 14.6649C19.0126 14.6649 18.2557 14.416 17.63 13.9547C16.4899 13.1611 15.1341 12.7356 13.745 12.7356C12.3559 12.7356 11.0001 13.1611 9.86 13.9547C9.2343 14.416 8.4774 14.6649 7.7 14.6649C6.9226 14.6649 6.1657 14.416 5.54 13.9547C4.4144 13.1356 3.0518 12.7072 1.66 12.7347H0V15.9447H1.61C2.39051 15.924 3.154 16.175 3.77 16.6547C4.908 17.4489 6.2623 17.8747 7.65 17.8747C9.0377 17.8747 10.392 17.4489 11.53 16.6547C12.1468 16.1765 12.9097 15.9257 13.69 15.9447C14.4708 15.9223 15.2348 16.1735 15.85 16.6547C16.9901 17.4484 18.3459 17.8738 19.735 17.8738C21.1241 17.8738 22.4799 17.4484 23.62 16.6547ZM23.62 22.3947C24.236 21.915 24.9995 21.664 25.78 21.6847H27.39V18.4747H25.78C24.4052 18.4581 23.0619 18.886 21.95 19.6947C21.3243 20.156 20.5674 20.4049 19.79 20.4049C19.0126 20.4049 18.2557 20.156 17.63 19.6947C16.4899 18.9011 15.1341 18.4757 13.745 18.4757C12.3559 18.4757 11.0001 18.9011 9.86 19.6947C9.2343 20.156 8.4774 20.4049 7.7 20.4049C6.9226 20.4049 6.1657 20.156 5.54 19.6947C4.4144 18.8757 3.0518 18.4472 1.66 18.4747H0V21.6847H1.61C2.39051 21.664 3.154 21.915 3.77 22.3947C4.908 23.1889 6.2623 23.6147 7.65 23.6147C9.0377 23.6147 10.392 23.1889 11.53 22.3947C12.1468 21.9165 12.9097 21.6657 13.69 21.6847C14.4708 21.6623 15.2348 21.9135 15.85 22.3947C16.9901 23.1884 18.3459 23.6138 19.735 23.6138C21.1241 23.6138 22.4799 23.1884 23.62 22.3947Z"
                                    fill="currentColor" />
                            </svg>
                        </a>

                        <h1 class="mt-2 text-2xl font-bold text-gray-900 sm:text-3xl md:text-4xl">
                            Welcome to BUGC 📸
                        </h1>

                        <p class="mt-4 leading-relaxed text-gray-500">
                            Thousands of Top-rated UGC creators in the country & the quality you will be proud of. It’s
                            Never Been This Easy to Get
                            Original BUGC Videos for Your Brand!
                        </p>
                    </div>

                    <form action="#" action="#" method="POST" class="p-4 space-y-6 rounded-lg" x-data="index()">
                        <h1 class="text-2xl font-bold" x-text="pageTitle"></h1>
                        <div class="grid grid-cols-6 gap-6 mt-8">

                            <div class="col-span-6">
                                <label for="" class="block mb-2 text-sm font-medium text-gray-900">
                                    Account Type
                                </label>
                            </div>
                            <div class="col-span-3">
                                <input type="radio" name="DeliveryOption" value="DeliveryStandard" id="DeliveryStandard"
                                    class="peer hidden [&:checked_+_label_svg]:block" checked />

                                <label for="DeliveryStandard"
                                    class="block p-4 text-sm font-medium bg-white border border-gray-100 rounded-lg shadow-sm cursor-pointer hover:border-gray-200 peer-checked:border-blue-500 peer-checked:ring-1 peer-checked:ring-blue-500">
                                    <div class="flex items-center justify-between">
                                        <p class="text-gray-700">BUGC User</p>

                                        <svg class="hidden w-5 h-5 text-blue-600" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd"
                                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </div>

                                    <p class="mt-1 font-light text-gray-900">BUGC Regular User</p>
                                </label>
                            </div>

                            <div class="col-span-3">
                                <input type="radio" name="DeliveryOption" value="DeliveryPriority" id="DeliveryPriority"
                                    class="peer hidden [&:checked_+_label_svg]:block" />

                                <label for="DeliveryPriority"
                                    class="block p-4 text-sm font-medium bg-white border border-gray-100 rounded-lg shadow-sm cursor-pointer hover:border-gray-200 peer-checked:border-blue-500 peer-checked:ring-1 peer-checked:ring-blue-500">
                                    <div class="flex items-center justify-between">
                                        <p class="text-gray-700">BUGC Content Creator</p>
                                        <svg class="hidden w-5 h-5 text-blue-600" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd"
                                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                                clip-rule="evenodd" />
                                        </svg>

                                    </div>

                                    <p class="mt-1 font-light text-gray-900">Content Creator/Influencer</p>
                                </label>
                            </div>

                            <div class="col-span-6 sm:col-span-3">
                                <label for="FirstName" class="block mb-2 text-sm font-medium text-gray-900">
                                    First Name
                                </label>

                                <input type="text" id="FirstName" name="first_name"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                            </div>

                            <div class="col-span-6 sm:col-span-3">
                                <label for="LastName" class="block mb-2 text-sm font-medium text-gray-900">
                                    Last Name
                                </label>

                                <input type="text" id="LastName" name="last_name"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                            </div>

                            <div class="col-span-6">
                                <label for="Email" class="block mb-2 text-sm font-medium text-gray-900">
                                    Email
                                </label>

                                <input type="email" id="Email" name="email" x-model="email"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                            </div>

                            <div class="col-span-6 sm:col-span-3">
                                <label for="Password" class="block mb-2 text-sm font-medium text-gray-900">
                                    Password
                                </label>
                            <div class="relative">
                                <i class="absolute inset-y-0 flex items-center pl-3 text-orange-300 pointer-events-none fa-solid fa-triangle-exclamation right-4"
                                        x-show="password.length >= 4 && password.length <= 7" x-cloak></i>
                                <i class="absolute inset-y-0 flex items-center pl-3 text-green-600 pointer-events-none fa-solid fa-circle-check right-4"
                                        x-show="password.length >= 8 && password.length <= 20" x-cloak></i>
                                <input type="password" x-model="password" id="Password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                            </div>

                                    
                                <p id="helper-text-explanation"
                                    class="mt-2 text-sm text-orange-400 dark:text-orange-300"
                                    x-show="password.length >= 4 && password.length <= 7" x-cloak>Please use a stronger
                                    password!</p>
                            </div>

                            <div class="col-span-6 sm:col-span-3">
                                <label for="PasswordConfirmation" class="block mb-2 text-sm font-medium text-gray-900">
                                    Password Confirmation
                                </label>
                                <div class="relative">
                                    <i class="absolute inset-y-0 flex items-center pl-3 text-orange-300 pointer-events-none fa-solid fa-triangle-exclamation right-4"
                                        x-show="password.length > 7 && password != confirmPassword" x-cloak></i>
                                    <i class="absolute inset-y-0 flex items-center pl-3 text-green-600 pointer-events-none fa-solid fa-circle-check right-4"
                                        x-show="password.length > 7 && password == confirmPassword" x-cloak></i>
                                    <input type="password" x-model="confirmPassword" id="PasswordConfirmation" name="password_confirmation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />        
                                </div>
                                <p id="helper-text-explanation"
                                    class="mt-2 text-sm text-orange-400 dark:text-orange-300"
                                    x-show="password.length > 7 && password != confirmPassword" x-cloak>Password does not match!</p>

                            </div>

                            <div class="col-span-6">
                                <label for="accept" class="flex gap-1">
                                    <input id="accept" type="checkbox" value=""
                                        class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300"
                                        required>

                                    <span class="ml-2 text-sm font-medium text-gray-900">
                                        I want to receive emails about events, product updates and
                                        company announcements.
                                    </span>
                                </label>
                            </div>

                            <div class="col-span-6">
                                <p class="text-sm text-gray-500">
                                    By creating an account, you agree to our
                                    <a href="#" class="text-gray-700 underline">
                                        terms and conditions
                                    </a>
                                    and
                                    <a href="#" class="text-gray-700 underline">privacy policy</a>.
                                </p>
                            </div>

                            <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
                                <button :disabled="confirmPassword.length < 7 || email.length < 5 || password.length < 7"
                                    class="flex justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 disabled:bg-slate-400 dark:disabled:bg-blue-400 disabled:cursor-not-allowed">
                                    Create an account
                                </button>

                                <p class="mt-4 text-sm text-gray-500 sm:mt-0">
                                    Already have an account?
                                    <a href="/auth/signin" class="text-gray-700 underline">Log in</a>.
                                </p>
                            </div>
                        </div>

                    </form>
                </div>
        </main>
        <script>
            function index() {
                return {
                    pageTitle: 'Sign Up',
                    show: false,
                    email: '',
                    password: '',
                    confirmPassword: '',
                }
            }
        </script>
        
        
 